---
import Badge from "../components/Badge.astro";
import Github from "../components/icons/Github.astro";
import Githubcopilot from "../components/icons/Githubcopilot.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio AlejoE Dev">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<img
				class="w-16 h-16 mb-4 rounded-full"
				src="https://img.freepik.com/fotos-premium/memoji-hombre-feliz-sobre-fondo-blanco-emoji_826801-6837.jpg"
				alt="alejoe photo"
			/><h1
				class="flex flex-row pb-4 text-5xl font-bold text-white gap-x-4"
			>
				Hey, soy Alejandro E <a
					href="https://www.linkedin.com/in/alejandro-echavarria-jaramillo/"
					target="_blank"
					rel="noopener"
					class="flex items-center justify-center"
					><Badge>Disponible para trabajar</Badge></a
				>
			</h1>
			<h2 class="text-2xl opacity-80 text-wrap">
				Desarrollador Web Especializado En Desarrollo De Aplicaciones
				<span class="text-yellow-200/90 opacity-80">Front-End</span>, <span
					>Medellín - Colombia.</span
				> Especializado En Crear Aplicaciones <span
					class="text-yellow-200/90 opacity-80">Únicas</span
				>.
			</h2>

			<nav class="flex mt-8 gap-x-5">
				<SocialPill href="https://www.linkedin.com/in/alejandro-echavarria-jaramillo/">
					<LinkedIn class="w-6 h-6" />
					LinkedIn
				<SocialPill href="https://github.com/AlejandroEchavarriaRiwi">
					<Github class="w-6 h-6" />
					Github
				</SocialPill>
			</nav>
		</section>
	</main>
</Layout>
